doc/node_modules/*
doc/_book/*

# phpstorm project files
.idea
# composer vendor dir
/vendor
# zend studio for eclipse project files
.buildpath
.project
.settings
# Mac DS_Store Files
.DS_Store

composer.lock

